@{
    ViewBag.Title = "Xác nhận thay đổi mật khẩu thành công";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h3 id="title">@ViewBag.Title.</h3>
    </hgroup>
    <div>
        <h3 class="mt-2">
            Vui lòng kiểm tra email của bạn!
        </h3>
    </div>
</main>
