<div>
    <h4>Mail xác thực đã gửi thành công, kiểm tra hộp thư đến hoặc spam nhé!</h4>
    <h4>Nếu bạn đã xác nhận? @Html.ActionLink("Đăng nhập ngay", "Login", null, new { @class = "text-info" })</h4>
</div>
