
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("setData", "Home", FormMethod.Post))
{
<h1>
    Trang chủ
</h1>
<h4>Chào mừng quay trở lại </h4>
<div>
    @Html.ActionLink("Đi đến trang người dùng", "Index", "Home", new { area = "" }, new { @class = "text-decoration-none btn btn-primary" })
</div>
}



