@{
    ViewBag.Title = "Index";
    
}
<div class="row my-3">
    <div class="col-lg-8">
        @Html.Action("TrendingPartial", "Anime")
        @Html.Action("RecenlyPartial", "Anime")
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="product__sidebar">
            <div class="product__sidebar__view">
                <div class="section-title">
                    <h5>Top Views</h5>
                </div>
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Ngày</li>
                    <li data-filter=".week">Tuần</li>
                    <li data-filter=".month">Tháng</li>
                    <li data-filter=".years">Năm</li>
                </ul>
                <div class="filter__gallery">
                    <div class="product__sidebar__view__item set-bg mix day years"
                         data-setbg="../Resources/Client/img/sidebar/tv-1.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Boruto: Naruto next generations</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg mix month week"
                         data-setbg="../Resources/Client/img/sidebar/tv-2.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg mix week years"
                         data-setbg="../Resources/Client/img/sidebar/tv-3.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg mix years month"
                         data-setbg="../Resources/Client/img/sidebar/tv-4.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg mix day"
                         data-setbg="../Resources/Client/img/sidebar/tv-5.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Fate stay night unlimited blade works</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        CKEDITOR.replace("")
    </script>
    }


