@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Resources/Login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Resources/Login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Resources/Login/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Resources/Login/css/style.css">

    <title>Login #7</title>
</head>
<body>


    <div>
        <input type="text" style="background-color: inherit; border:none;">
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Resources/Login/images/official-login.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="text-center">
                                <img src="~/Resources/Library/Admin/Theme/images/backgrounds/email-sent.jpg" alt="" class="img-fluid" width="500">
                                <h1 class="fw-semibold mb-7 fs-9">Thành công!!!</h1>
                                <h4 class=" mb-7">Email đã được gửi. Kiểm tra hộp thư đến nhé!!!</h4>
                                <a class="btn btn-primary" href="@Url.Action("Login","Auth",new{area="Admin"})" role="button">Quay về trang đăng nhập</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="~/Resources/Login/js/jquery-3.3.1.min.js"></script>
    <script src="~/Resources/Login/js/popper.min.js"></script>
    <script src="~/Resources/Login/js/bootstrap.min.js"></script>
    <script src="~/Resources/Login/js/main.js"></script>
    @Html.Partial("_ValidationScriptsPartial")
</body>
</html>

