@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Not Found</title>
    <!-- Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/Resources/Library/Admin/Theme/images/logos/favicon.ico" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Resources/Library/Admin/Theme/libs/owl.carousel/dist/assets/owl.carousel.min.css">
    <!-- Core Css -->
    <link rel="stylesheet" href="~/Resources/Library/Admin/Theme/css/style.min.css" />
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <img src="~/Resources/Library/Admin/Theme/images/logos/favicon.ico" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img src="~/Resources/Library/Admin/Theme/images/backgrounds/errorimg.svg" alt="" class="img-fluid" width="500">
                            <h1 class="fw-semibold mb-7 fs-9">Opps!!!</h1>
                            <h4 class="fw-semibold mb-7">Trang bạn tìm không thấy rồi!!!</h4>
                            <a class="btn btn-primary" href="@Url.Action("Index","Home",new{area="Admin"})" role="button">Quay về trang chủ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Import Js Files -->
    <script src="~/Resources/Library/Admin/Theme/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Resources/Library/Admin/Theme/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Resources/Library/Admin/Theme/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- core files -->
    <script src="~/Resources/Library/Admin/Theme/js/app.min.js"></script>
    <script src="~/Resources/Library/Admin/Theme/js/app.minisidebar.init.js"></script>
    <script src="~/Resources/Library/Admin/Theme/js/app-style-switcher.js"></script>
    <script src="~/Resources/Library/Admin/Theme/js/sidebarmenu.js"></script>

    <script src="~/Resources/Library/Admin/Theme/js/custom.js"></script>
    <!-- current page js files -->
    <script src="~/Resources/Library/Admin/Theme/libs/owl.carousel/dist/owl.carousel.min.js"></script>
</body>
</html>